

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<div class="about-footer">
	<a href="#" class="fa fa-facebook"></a>
	<a href="#" class="fa fa-twitter"></a>
	<a href="#" class="fa fa-instagram"></a>
	
	<style>
.fa {
  padding: 30px;
  font-size: 30px;
  width: 10px;
  height: 10px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}


.fa-instagram {
  background: #125688;
  color: white;
}
</style>




<div class="about-wrapper">
  <div class="about-left">
  	<p><h4>The facts about our food… </h4>
  		Food waste is a growing problem in the United States and we should all be aware of its impact on society and the environment because we all play a part in solving this dilemma. Understanding the implications of our actions makes us much more likely to make adjustments to our lifestyle, which is why I’m bringing you a taste of the truth about our food system.<br>

  		In America, we have enough food to feed every man, woman and child, yet 72 billion pounds of safe, edible food goes to waste each year. In fact, an estimated 25 – 40 percent of food grown, processed and transported in the U.S. will never be consumed. And more food reaches landfills and incinerators than any other single material in municipal solid waste. We at Latecall are aimed at lowering the over all food waste by giving everyone the opportunity to buy the food before it become waste and at a discounted price and also giving restaurants the chance to put their food to good use instead of throwing it in the trash.
  	</p>
  </div>
  <div class="about-right">
  	<br><br>
    <h4>We Deliver Food To Your Location</h4>
    <p>Sign up to start getting food delivered to your location</p>
    <i class="fa fa-user-o fa-lg" aria-hidden="true"></i>
    <p class="about-user">Sign up</p>
    <i class="fa fa-user-o fa-lg" aria-hidden="true"></i>
    <p class="about-user">Log In</p>

  </div>
</div>

