/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require normalize
 *= require skeleton
 */

 $header-font: 'Aclonica', sans-serif;
 $text-font: 'PT Serif', serif;
 $dark-grey: rgb(24,24,24);
 $lime-green: rgb(173,255,47);

body {
	background-color: $dark-grey;
	color: white;
	padding: 25px;
	h1 {
		margin-top: 50px;
		margin-bottom: 20px;
		color: $lime-green;
		text-align: center;
		font-family: $header-font;
		font-size: 6em;
	}
	img {
		width: 150px;
		height: 100px;
		margin-left: 15px;
	}
	h2 {
		text-align: center;
		color: lightgray;
	}
}

//FLASH NOTICE 

.notice {
  color: white;
  text-align: center;
  margin: 0;
  padding: 15px;
  margin: -25px;
}

.link {
	color: black;
	text-decoration: none;
	a, a:hover, a:visited {
		color: black;
		background-color: inherit;
		text-decoration: none;
	}
	a:hover {
		color: purple;
	}
}

table {
	color: black;
	background-color: white;
	width: 100%;
	th {
		font-family: $text-font;
		font-size: 1.05em;
		color: black;
		background-color: rgb(173,255,47);
	}
	td {
		font-family: $text-font;
	}
	tr:hover {
		background-color: lightgray;
	}
	td:nth-child(2) {
		padding-left: 5px;
	}
	td:nth-child(3) {
		font-weight: bold;
		font-size: 0.92em;
		width: 18%;
	}
	td:nth-child(4) {
		width: 40%;
	}
	td:nth-child(5) {
		width: 20%;
	}
	td:nth-child(1) {
		width: 13%;
		padding-left: 15px;
		color: rgb(88,88,88);
	}
}

#search-form {
	text-align: center;
	background-color: lightgray;
	padding-top: 25px;
	margin-bottom: 0;
	input[type="text"] {
		width: 30%;
	}
	input[type="submit"] {
		width: 130px;
		background-color: rgb(173,255,47);
	}
	button {
		background-color: $dark-grey;
	}
}

.login-form {
	position: relative;
	margin: auto 31%;
	width: 25%;
	min-width: 290px;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 170px;
	padding-right: 10px;
	background-color: lightgray;
	h2 {
		margin-left: -210px;
		font-size: 2.5em;
		color: $dark-grey;
	}
	input[type="submit"] {
		width: 130px;
		background-color: rgb(173,255,47);
		margin-left: 25px;
	}
	input[type="email"] {
		margin-top: -70px;
		margin-bottom: -5px;
	}
	input[type="password"] {
		margin-top: -70px;
		margin-bottom: 20px;
	}
	label {
		margin-bottom: -10px;
	}
	a {
		padding-left: 15px;
		color: black;
		text-decoration: none;
		text-align: center;
	}
	a:hover {
		background-color: inherit;
		color: purple;
	}
	a.signup-link {
		position: absolute;
		top: 70px;
		left: 275px;
	}
	a.forgot-password-link {
		position: absolute;
		top: 265px;
		left: 180px;
	}
}

/* Navigation bar */

#menuToggle
{
  display: block;
  position: relative;
  top: 50px;
  left: 50px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input
{
  display: block;
  width: 60px;
  height: 47px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span
{
  display: block;
  width: 53px;
  height: 10px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu
{
  position: absolute;
  width: 300px;
  margin: -120px 0 0 -80px;
  padding: 50px;
  padding-top: 155px;
  
  background: #ededed;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 15px 0;
  border-bottom: grey solid 2px;
  margin-left: 25px;
  font-size: 2em;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul
{
  transform: none;
  height: 620px;
  font-family: $text-font;
}

/* End of navigation bar */



/* start of about page */


.about-footer{

	height: 100px;
	width: 100%;
	margin-bottom: 30px;
	text-align: center;
	margin: 0 auto ;
}


.about-wrapper {
  background-color: white;
  display: flex;
  margin-top: 15px;
  margin-bottom: 15px;
  .about-left {
    flex: 1;
    text-align: center;
    padding: 30px;
  }
  .about-right {
    flex: 1;
    border-left: 10px solid black;

    h3 {
      font-size: 7rem;
    }

    p {
      font-size: 2rem;
    }
  }
}
