// Place all the styles related to the Restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$header-font: 'Aclonica', sans-serif;
$text-font: 'PT Serif', serif;
$lime-green: rgb(173,255,47);
 $dark-grey: rgb(24,24,24);

.menu {
	padding-left: 25px;
	padding-right: 25px;
	h2 {
		color: $dark-grey;
		font-family: $text-font;
		text-align: center;
		margin-left: 10px;
		margin-right: 50px;
		padding-top: 15px;
	}
	.restaurant-info {
		font-family: $text-font;
		text-align: center;
		padding-right: 15px;
		p {
			margin-top: -15px;
			padding: 5px;
			width: 85%;
			margin-left: 25px;
			margin-right: 50px;
		}
	}
	color: white;
	table {
		width: 60%;
		margin: auto 20%;
		tr:last-child:hover {
			background-color: white;
		}
		tr {
			padding: 10px;
		}
		td {
			height: 80px;
		}
		label {
			width: 50%;
		}
		.one-fourth {
			width: 24%;
		}
		.two-fourths {
			width: 49%;
		}
		td:nth-child(1) {
			vertical-align: top;
			padding-top: 25px;
		}
		input[type="number"] {
			margin-top: 8px;
			width: 50%;
		}
		input[type="submit"] {
			margin-left: 35%;
			width: 200px;
			text-align: center;
			background-color: $lime-green;
			font-size: 1.25em;
		}
	}
	img {
		padding-left: 15px;
		padding-top: 15px;
		width: 150px;
		height: 150px;
	}
}

.personal_restaurants {
	a {
		text-decoration: none;
		color: black;
	}
	a:hover {
		background-color: inherit;
		color: purple
	}
	td:nth-child(1) {
		width: 10px;
	}
	td:nth-child(2) {
		width: 10%;
	}
	td:nth-child(3) {
		width: 30%;
	}
	td:nth-child(4) {
		width: 20%;
	}
	td:nth-child(5) {
		width: 15%;
	}
	td:nth-child(6) {
		width: 15%;
	}
	td:last-child {
		width: 50px;
		padding-right: 10px;
	}
	a.create-restaurant-link {
		position: absolute;
		right: 25px;
		top: 280px;
		font-size: 1.25em;
	}
}

